<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Photo App</title>

    <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
      <div class="col-lg-6">
          <h4>Delete successful !</h4>
          <p>You may now return to your homepage</p>
          <form action="http://127.0.0.1:5000/">
              <button class="btn btn-primary btn-lg">Home !</button>
          </form>
      </div>
    </div>
</body>

</html>
